<div class="content text-center">
<header>

	
<h1>Bad-Ass Chicks Database</h1>
<h4>Add profiles and comment on your favorite bad bitches</h4>
</header>

	<div class="frontPageDiv">
	<img class="frontPage" src="https://bullybloggers.files.wordpress.com/2010/08/lisbeth-salander-31.jpg">
	<img class="frontPage" src="http://www.newrepublic.com/sites/default/files/u36457/article_inset_rosen_3_625.jpg">
	<img class="frontPage" src="http://1513f43de1df8b08e16c-d8d6213b156ba3a73e333057f5885fa8.r32.cf1.rackcdn.com/1280-xfsn53hqa11eqs7hyaefy4z2d7qxxe6qwktk49fe.jpg">
	<img class="frontPage" src="http://www.mcg-neuss.de/wp-content/uploads/2013/05/marie_curie_mittel.jpg">
		
	</div>
</div>