/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 70px;
	/*background-image: url("images/swirl_pattern.png"); */
	background-color: #ababab;
	color: #4d505b;
}

.navbar-nav.navbar-right:last-child { margin: 0; }
.navbar-default { background-color: #4d505b; }
.navbar-toggle,
.navbar-toggle:hover {
  border: none;
  background: none;
  color: #ff6063;

  .icon-bar { height: 3px; }
}

a {
	color: #ff6063;
}

a:hover {
	color: #cf4858;
}

h1 {
	font-family: Futura;
	text-align: center;
	margin-top: 60px;
	color: #ff6063;
}

h4 {
	font-family: Futura;
	text-align: center;
	margin: 10px;
	color: #4d505b;
}

.navbar-header {
	margin-left: 20px;
	margin-top: 5px;
	
}


.logo {
	
	margin: 5px;
	font-size: 24px;
	font-weight: bold;
	color: #ff6063;
}

.navBar {
	display: inline-block;
	margin-left: 475px;

}

.navLinks {
	margin: 20px;
	margin-left: 55px;
	/*color: #cf4858;*/
}


.logins {
	color: #ff6063;
	margin-left: 375px;
	float: right;
	margin-top: 5px;

}

.signUp {
	color: #ff6063;
	float: right;
	margin: 5px;
}

.imageField {
	margin-top: 150px;
	text-align: center;
}

.textField {
	margin: 5px;
	text-align: center;
}

.createChick {
	text-align: center;
}


.chicks-container {
	text-align: center;
}

.chicks-feed {
	display: inline-block;
	text-align: center;
	/*border: 2px solid black;*/
}

.frontPage {
	border: 2px solid white;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	max-height: 300px;
}

.frontPageDiv {
	display: inline-block;
	max-height: 300px;
}
